.roses-background {
    width: 100%;
    border: 2px solid black;
    height: 25%;
    animation: float 3s ease-in-out infinite;
}

.contenedor-descripcion {
    background-color: white;
    border: 2px solid black;
    animation: float 3s ease-in-out infinite;
}

.contenedor-lenguajes {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    animation: float 3s ease-in-out infinite;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.heading:not(:last-child) {
    padding-right: 20px;
    border-right: 2px solid black;
}

.titulo-1 {
    font-family: "titulos", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.titulo-2 {
    font-family: "parrafos", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 80%;
}

.botones {
    background-color: black;
    color: #E8E3E3;
}

.correo {
    text-align: center;
}

.correo a {
    font-family: "parrafos", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.boton-dcv {
    font-family: "parrafos", sans-serif;
    border: 1px solid black;
    color: black;
}

p {
    font-family: "parrafos", sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language-item {
    padding: 8px 12px;
    border-radius: 4px;
    color: black;
    border: 2px solid black;
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: bold;
}

.java {
    background: linear-gradient(to right,
            #FF0000,
            #1253D5);
}

.php {
    background-color: #737BB2;
}

.python {
    background: linear-gradient(to right,
            #346C9C,
            #FCEA74);
}

.html {
    background-color: #E44C23;
}

.css {
    background-color: #1664AC;
}

.javascript {
    background-color: #F3DB1C;
}

.dart {
    background: linear-gradient(to right,
            #04C4B4,
            #0474CC);
}

.spring {
    background-color: #5FB438;
}

.react {
    background-color: #189CCC;
}

.bootstrap {
    background-color: #5C4484;
}

.angular {
    background-color: #DC0434;
}

.flutter {
    background: linear-gradient(to right,
            #04ACF4,
            #05529A);
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}
