<div class="mt-2 contenedor-descripcion p-4">
    <h1 class="titulo-1" itemprop="jobTitle">⚔️ Clase: Ingeniero de Sistemas</h1>

    <h2 class="titulo-2">⭐ Roles:</h2>
    <div class="heading-container mt-3">
        <h2 class="heading titulo-2" itemprop="hasOccupation">Desarrollador FrontEnd</h2>
        <h2 class="heading titulo-2" itemprop="hasOccupation">Desarrollador Web/Móvil</h2>
    </div>

    <h2 class="titulo-2 m-3" itemprop="hasOccupation">🗺️ Misiones secundaria disponibles:</h2>

    <div class="d-flex justify-content-evenly mt-3">
        <a href="https://github.com/CarlosManchego343" class="btn botones" aria-label="GitHub de Carlos"
            rel="noopener noreferrer" itemprop="sameAs">
            <i class="bi bi-github"></i>
            Grimorio de proyectos
        </a>
        <a href="https://www.linkedin.com/in/carlosmariomanchegopabon/" class="btn botones"
            aria-label="LinkedIn de Carlos" rel="noopener noreferrer" itemprop="sameAs">
            <i class="bi bi-linkedin"></i>
            Taberna de los profesionales
        </a>
        <a href="https://wa.me/573134895896" class="btn botones" aria-label="Contactar por WhatsApp"
            rel="noopener noreferrer" itemprop="sameAs">
            <i class="bi bi-whatsapp"></i>
            Invocación directa
        </a>
    </div>

    <p class="correo mt-2">
        Contacto formal:
        <a href="mailto:carlosmariomanchego1@gmail.com" itemprop="email">carlosmariomanchego1&#64;gmail.com</a>
    </p>

    <div class="d-flex justify-content-center">
        <a href="https://drive.google.com/file/d/1V3O16VUfr-WyisdfCWVWgxcQJka26OsN/view?usp=sharing"
            class="btn boton-dcv" download="CV-Carlos-Manchego" rel="noopener noreferrer">
            Obten el Pergamino del heroe (CV)
        </a>
    </div>
</div>

<div class="mt-2 contenedor-lenguajes p-4">
    <h1 class="titulo-1">Habilidades desbloquedas: Habilidad | Nivel de habilidad</h1>
    <div class="container">
        <div *ngFor="let lenguaje of lenguajesConocidos" class="language-item">
            <p>{{ lenguaje.lenguaje }} | {{ lenguaje.nivel }}</p>
        </div>
    </div>
    <div class="container-gato">
        <img src="assets/Iconos/gato-mago.webp" alt="Gato Magico" class="gato-mago">
    </div>
</div>
