.contenedor-principal {
    margin-top: 25%;
    margin-left: 1%;
}

.experienceList {
    border-inline-start: 5px solid #515151;
    position: relative;
}

.experienceItemList {
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 10px;
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    animation: float 3s ease-in-out infinite;
}

.decorativeCircleList {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -45px;
    margin-top: 6px;
}

.datos {
    font-family: "parrafos", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.lugar {
    font-family: "titulos", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 15px;
}

.titulo-2 {
    font-family: "titulos", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 15px;
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@media (min-width: 992px) {
    .contenedor-principal {
        margin-left: 11%;
        margin-top: 70%;
    }
}

@media (min-width: 1300px) {
    .contenedor-principal {
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
    }

    .trabajador {
        width: 2000px;
    }

}