<nav class="navbar navbar-expand-lg sticky-top border-bottom border-body border-danger barra-navegacion"
  data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-5">
          <a class="nav-link" (click)="scrollTo('presentacion')">Sobre mí</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" (click)="scrollTo('experiencia')">Experiencia laboral</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" (click)="scrollTo('lenguajes')">Herramientas</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" (click)="scrollTo('proyectos')">Proyectos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>