.titulo-1 {
    font-family: "titulos", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.contenedor-abuelo {
    overflow-y: auto;
    max-height: 800px;
}

.contenedor-padre {
    display: block;
    margin-bottom: 4px;
}

.imagen-carusel {
    width: 700px;
    height: 400px;
}