.titulo-1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    color: #E8E3E3;
    margin-left: 5%;
}

.item-caruosel {
    width: 35%;
}

.contenedor-descripcion {
    background-color: #000000;
    border: 5px solid #515151;
    border-radius: 10px;
    width: 35%;
}

.titulo-2 {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #DE8B8B;
}

.descripcion {
    font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #FDF9F9;
}

.separacion {
    border: 2px solid #B21C15;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Espacio entre elementos */
}

.heading:not(:last-child) {
    padding-right: 20px;
    /* Espacio antes de la línea */
    border-right: 2px solid #B21C15;
    /* Línea vertical */
}

