<div #book class="book-container"></div>

<div class="hidden-book">
  <div class="my-page portada" data-density="hard">
    <app-front-page></app-front-page>
  </div>
  <div class="my-page page">
  </div>
  <div class="my-page page">
    <app-index (paginaSeleccionada)="goToPage($event)"></app-index>
  </div>
  <div class="my-page page">
    <app-presentation-first-page></app-presentation-first-page>
  </div>
  <div class="my-page page">
    <app-presentation-second-page></app-presentation-second-page>
  </div>
  <div class="my-page page">
    <app-timeline-exp-lab-first-page></app-timeline-exp-lab-first-page>
  </div>
  <div class="my-page page">
    <app-timeline-exp-lab-second-page></app-timeline-exp-lab-second-page>
  </div>
  <div class="my-page page">
    <app-proyectos-first-page></app-proyectos-first-page>
  </div>
  <div class="my-page page">
    <app-proyectos-second-page></app-proyectos-second-page>
  </div>
</div>