<div class="father-container">
    <div class="speech-bubble top-bubble">
        <p>✨¡Hola! Soy <span itemprop="name">Carlos Manchego</span>, un <strong itemprop="skills">desarrollador
                web</strong> que lucha cada día por crear soluciones digitales poderosas.
            He enfrentado batallas en proyectos que van desde simples sitios web hasta sistemas complejos, usando mis
            técnicas favoritas:
            <strong itemprop="knowsAbout">Angular, React y Flutter</strong>.
        </p>
        <p>⚡Me especialización en <strong>desarrollo FrontEnd y aplicaciones móviles</strong>, y combino mis habilidades
            con un enfoque en la experiencia del usuario.
            Mi objetivo: construir interfaces tan intuitivas como invencibles, listas para cualquier desafío técnico.
        </p>
    </div>

    <div class="botom-container">
        <img src="assets/avatar/avatar-carlos.webp" alt="Personaje anime" class="character">
        <div class="speech-bubble">
            <p class="descripcion">🎮 Cuando no estoy entrenando mis habilidades de programador, me sumerjo en épicas aventuras de videojuegos,
                disfruto de intensas maratones de anime y exploro nuevas tecnologías como si fueran poderes ocultos por
                descubrir.
            </p>
            <p class="descripcion">🚀 Siempre estoy listo para enfrentar misiones desafiantes, donde pueda desplegar todo mi potencial en
                desarrollo web y móvil, creciendo en cada batalla como desarrollador.</p>
            <img src="assets/avatar/avatar-chibi-levantando-pc.webp" alt="Personaje anime" class="chibi">
        </div>
    </div>
</div>