p,
strong,
span {
    font-family: "parrafos", sans-serif;
    font-size: 10px;
}

.father-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.botom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-top: 30px;
}

.character {
    width: 300px;
    height: 400px;
    border: 2px solid #000;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    animation: float 3s ease-in-out infinite;
}

.chibi {
    width: 180px;
    height: 130px;
}

/* --- GLOBO SUPERIOR --- */
.top-bubble {
    left: 50px;
    width: 600px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #000;
    /* Borde negro */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: float 3s ease-in-out infinite;
    text-align: center;
}

.top-bubble::before {
    content: '';
    position: absolute;
    left: 30px;
    /* Ajusta para centrar sobre el personaje */
    top: 100%;
    /* Parte inferior del globo */
    border-width: 15px 10px 0 10px;
    /* Triángulo apuntando hacia abajo */
    border-style: solid;
    border-color: white transparent transparent transparent;
    /* Blanco */
    z-index: 2;
    /* Encima del borde negro */
}

.top-bubble::after {
    content: '';
    position: absolute;
    left: 29px;
    /* 1px menos para el desplazamiento del borde */
    top: 100%;
    border-width: 16px 11px 0 11px;
    /* Un poco más grande que el blanco */
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    z-index: 1;
}


.speech-bubble:not(.top-bubble) {
    position: relative;
    background: white;
    padding: 15px;
    border: 2px solid #000;
    height: 400px;
    width: 260px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    animation: float 3s ease-in-out infinite;
    text-align: center;
}

.descripcion {
    font-family: "parrafos", sans-serif;
    font-size: 10px;
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@media (min-width: 1290px) {

    p,
    strong,
    span {
        font-size: 15px;
    }

    .top-bubble {
        width: 750px;
    }

    .character {
        width: 400px;
        height: 500px;
    }

    .speech-bubble:not(.top-bubble) {
        height: 500px;
        width: 340px;
    }

    .descripcion {
        font-size: 12px;
    }

    .chibi {
        width: 200px;
        height: 210px;
    }
}