

<div class="speech-bubble top-bubble">
    <p>¡Hola! Soy <span itemprop="name">Carlos Manchego</span>, un <strong itemprop="skills">desarrollador
            web</strong> apasionado por crear soluciones digitales efectivas. He trabajado en proyectos desde sitios web
        básicos hasta aplicaciones
        complejas usando <span itemprop="knowsAbout">Angular, React y Flutter</span>.</p>
</div>



<img src="assets/avatar/avatar-carlos.webp" alt="Personaje anime" class="character">

<div class="bubbles-container">
    <div class="speech-bubble">
        <p>Mi especialización en <strong>desarrollo FrontEnd y aplicaciones móviles</strong> se complementa con un
            enfoque centrado en la experiencia de usuario, garantizando interfaces intuitivas y técnicamente
            robustas.</p>
    </div>
    <div class="speech-bubble">
        <p>Cuando no estoy programando, disfruto de videojuegos, series de anime y explorar nuevas tecnologías.
            Estoy abierto a oportunidades desafiantes donde pueda aportar mis habilidades en desarrollo web y móvil.
        </p>
    </div>
</div>