<div class="d-block contenedor-principal">
    <h1 class="titulo-1 m-5">Experiencia laboral</h1>
    <section class="m-5">
        <ol class="experienceList">
            <li class="experienceItemList" *ngFor="let experiencia of experiencias">
                <div class="decorativeCircleList"></div>
                <p class="datos">{{ experiencia.tiempo }}</p>
                <h2 class="titulo-2">{{ experiencia.cargo }}</h2>
                <h3 class="lugar">{{ experiencia.lugar }}</h3>
                <p class="mt-3 datos w-75" *ngFor="let descripcion of experiencia.descripciones">
                    {{ descripcion }}
                </p>
            </li>
        </ol>
    </section>
</div>