<div class="p-5">
    <div class="w-50 mt-2 contenedor-descripcion p-4">
        <h1 class="titulo-1">Ingeniero de sistemas</h1>
        <div class="heading-container mt-3">
            <h2 class="heading titulo-2">Desarrollador FrontEnd</h2>
            <h2 class="heading titulo-2">Desarrollador Web/Móvil</h2>
        </div>
        <P class="mt-3 descripcion">¡Hola! Soy Carlos Mario Manchego Pabón, un <b>desarrollador web</b> apasionado por
            crear soluciones digitales que marquen la diferencia. Cuento con <b>8 meses de experiencia</b>, he trabajado
            en proyectos que van desde sitios web simples hasta aplicaciones web complejas, siempre buscando combinar
            creatividad, tecnología y funcionalidad.

            Me especializo en el <b>desarrollo FrontEnd y en el desarrollo Móvil</b>, disfruto trabajando con
            tecnologías como <b>Angular, React, Flutter</b>, etc. Mi enfoque es siempre centrado en el usuario,
            asegurándome de que cada proyecto no solo sea técnicamente sólido, sino también intuitivo y atractivo.

            Cuando no estoy programando, me gusta jugar videojuegos, ver series o peliculas y ver anime. ¡Estoy siempre
            listo para nuevos desafíos y oportunidades de colaboración!</P>
        
    </div>
    <img src="assets\fotoCarlos.JPG" class="foto" width="400px" height="400px" alt="foto Carlos" />
</div>