.titulo-1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    color: #E8E3E3;
    margin-left: 12%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* Para manejar el responsive */
    gap: 10px;
    /* Espacio entre elementos */
    margin-top: 20px;
    margin-bottom: 20px;
}

.language-item {
    padding: 8px 12px;
    border-radius: 4px;
    color: black;
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: bold;
}

.java {
    background: linear-gradient(to right,
            #FF0000,
            #1253D5);
}

.php {
    background-color: #737BB2;
}

.python {
    background: linear-gradient(to right,
            #346C9C,
            #FCEA74);
}

.html {
    background-color: #E44C23;
}

.css {
    background-color: #1664AC;
}

.javascript {
    background-color: #F3DB1C;
}

.dart {
    background: linear-gradient(to right,
            #04C4B4,
            #0474CC);
}

.spring {
    background-color: #5FB438;
}

.react {
    background-color: #189CCC;
}

.bootstrap {
    background-color: #5C4484;
}

.angular {
    background-color: #DC0434;
}

.flutter {
    background: linear-gradient(to right,
            #04ACF4,
            #05529A);
}

.language-item p {
    margin: 0;
    /* Elimina el margen por defecto de <p> */
}

@media (min-width: 768px) and (max-width: 1024px) {
    .titulo-1 {
        font-size: 3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1299px) {
    .titulo-1 {
        font-size: 3rem;
    }
}

@media (min-width: 1300px) {
    .titulo-1 {
        font-size: 3rem;
    }
}