/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    min-height: 100vh; /* Cubre toda la altura de la pantalla */
    background-image: url('/assets/Iconos/fondo.webp');
  }

@font-face {
  font-family: 'parrafos';
  src: url('/assets/fonts/animeace2_ital.ttf') format('truetype');
}

@font-face {
  font-family: 'titulos';
  src: url('/assets/fonts/KARAN___.ttf') format('truetype');
}

router-outlet ~ * {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transform-origin: right center; /* Volteo desde el lado derecho */
}

:host {
  display: block;
  height: 100%;
}