/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'parrafos';
  src: url('/assets/fonts/animeace2_ital.ttf') format('truetype');
}

@font-face {
  font-family: 'titulos';
  src: url('/assets/fonts/KARAN___.ttf') format('truetype');
}

@font-face {
  font-family: 'portada';
  src: url('/assets/fonts/Comic Boom Bubble_DEMO.otf') format('truetype');
}

.page {
  background-color: #FDECDA;
  border: 1px solid black;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

.portada {
  background-image: url(/assets/avatar/portada-portafolio.webp) !important;
  background-size: 90% 90%;   /* ancho 120% y alto 120% del contenedor */
  background-repeat: no-repeat; /* Evita repeticiones */
  background-position: center;  /* Centra la imagen */
  background-color: #6a5aa6; 
  border: #000 solid 4px;
}

body {
  background-image: url(/assets/Iconos/fondo-rosas.webp) !important;
}