/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    min-height: 100vh; /* Cubre toda la altura de la pantalla */
    background-image: url('https://www.transparenttextures.com/patterns/rice-paper.png');
  }

@font-face {
  font-family: 'parrafos';
  src: url('/assets/fonts/animeace2_ital.ttf') format('truetype');
}

@font-face {
  font-family: 'titulos';
  src: url('/assets/fonts/KARAN___.ttf') format('truetype');
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

